@media (max-width: 600px) {
    .banner_textoprincipal h1 {
        font-size: 55px;
    }
    .banner_textoprincipal h2 {
        font-size: 22px;
    }
    .banner_textoprincipal {
        padding: 20px;
    }
    .banner_colunas {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
        padding: 20px;
        margin-top: 130px;
    }
    #geral aside {
        padding: 20px
    }

    .widget_body_dep_box {
        height: 155px;
        width: 155px;
        justify-content:center;
        margin: 20px 60px;
    }
    .rodape_titulo1 {
        font-size: 18px;
    }
    .rodape_link {
        font-size: 14px;
    }
    .colunas_rodape,
    .colunas2_rodape {
        flex-direction:column-reverse;
        margin: 20px;
    }
    .colunas_rodape {
        min-height: 300px;
    }
    .copy {
        padding-left: 5px;
    }

    /*Resolvendo o menu*/
    header .container {
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    /*tirar a altura fixa do header para que ela expanda quando o menu ficar em coluna*/
    header {
        height: auto;
        padding-right: 25px;
    }
    .logo {
        padding-left: 20px;
    }
    /*criar o menusanduíche menuMobile no template*/
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}