@media(max-width:959px){
    aside .margin{
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .departmentsArea{
        margin-bottom: 15px;
    } 
    article{
        margin-left: 20px;
    }  
}

@media screen and (min-width: 720px) and (max-width: 944px){
    .departmentsArea{
        width:300px;
    }
}
@media(max-width:868px){
    .coluna_descricao{
        font-size: .8rem;
        margin: 7px 0 12px 0;
    }
}
@media(max-width:765px){
    section .coluna_descricao{
        font-size: .7rem;
    }
}
@media(max-width: 719px){
    aside .departmentsArea, .margin{
        margin: 0px 0px 15px 0px;
    }
    aside .geralAside{
        flex-direction: column;
    }
}
@media(max-width:400px){
    aside{
        display: flex;
        flex-direction: column;
    }
    .geralAside{
        display:flex;
        justify-content: center;
    }
    aside .departmentsArea{
        width: 100%;
    }
}

@media (max-width: 600px) {
    #banner{
        height: auto;
    }
    .banner_textoprincipal h1 {
        font-size: 55px;
    }
    .banner_textoprincipal h2 {
        font-size: 22px;
    }
    .banner_textoprincipal {
        padding: 20px;
    }
    .banner_colunas {
        height: auto;
        flex-direction: column;
    }
    
    aside{
        padding:20px;
    }
    /*#geral section {
        padding: 20px;
        margin-top: 130px;        
    }
    #geral aside {
        padding: 20px
    }*/

    .widget_body_dep_box {
        height: 155px;
        width: 155px;
        justify-content:center;
        margin: 20px 60px;
    }
    .rodape_titulo1 {
        font-size: 18px;
        margin-top: 0;
    }
    .rodape_link {
        font-size: 14px;
    }
    .colunas_rodape,
    .colunas2_rodape {
        flex-direction:column-reverse;
        margin: 20px;
    }
    .colunas_rodape {
        min-height: 300px;
    }
    .copy {
        padding-left: 5px;
    }

    /*Resolvendo o menu*/
    header .container {
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    /*tirar a altura fixa do header para que ela expanda quando o menu ficar em coluna*/
    header {
        height: auto;
        padding-right: 25px;
    }
    .logo {
        padding-left: 20px;
    }
    /*criar o menusanduíche menuMobile no template*/
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media(max-width:590px){
    .container{
        flex-direction: column;
    }
}
@media(max-width:400px){

}




/*@media (max-width: 400px) {
    #geral section {
        padding: 50px 50px 0 50px;
        margin-top: 160px;
    }

    section .widget_título,
    section .widget_titulo_texto,
    section .widget_titulo_barra,
    section .widget_body_noticia {
        margin-left: 60px;
        margin-right: 30px;    
    }
    aside .widget_titulo_texto {
        margin: 0 90px;
        
    }
    aside .widget_titulo_barra {
        margin-left: 90px;
    }
    .widget_body_dep_box {
        height: 145px;
        width: 145px;
        justify-content:space-around;  
    }
    aside .departmentsArea, .margin{
        padding: 10px;
    }

}*/