* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;    
    width: 990px;        
}

.logo {
    display: flex;
    align-items: center;   
}

.menu {
    display: flex;
    align-items: center;   
    text-decoration: none; 
}

.menuMobile {
    display: none;/*Não vai aparecer em tela grande, somente em mobile*/
    width: 40px;
    height: 40px;
    margin: 40px 20px 40px 0;
}
.menuMobile_barra {
    width: 30px;
    height: 2.5px; 
    margin: auto;   
    background-color:#2b4c99;
    }

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content:space-between;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;    
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}
.banner_textoprincipal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_textoprincipal h1 {
    color: white;
    font-size: 60px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_textoprincipal h2 {
    color: white;
    font-size: 25px;
    text-shadow: 0px 1px 0px #555;
    margin: 30 0 0 0;
    padding: 0;
    max-width: 350px;
}

.banner_colunas {
    height: 210px;
    display: flex;  
}
.coluna1,
.coluna2,
.coluna3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.coluna1 {
    background-color: #39aae1;
}
.coluna2 {
    background-color: #0079c7;
}
.coluna3 {
    background-color: #2b4c99;
}

.coluna_titulo {
    font-size: 20px;
}
.coluna_descricao {
    font-size: 13px;
    margin: 20px 0 20px 0;
}
.banner_colunas a {
    /*display: block; a margem do botão fica do tamanho do bloco, não do conteudo do botão*/
    display: inline-block;
    border: 1px solid #fff;
    padding: 7px;
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.atendimento {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    padding: 15px 0px 5px 0px;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}
aside .geralAside{
    display: flex;
    flex-wrap: wrap;
}
.departmentsArea{
    flex: 1;
    min-width: 150px;
    min-height: 150px;
    background-color: #42b3e5;
    margin-bottom: 20px;
}
.margin{
    margin-right: 20px;

}
.widget_titulo {
    margin: 30px 0 20px 0;
}
.widget_titulo_texto {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.widget_titulo_barra {
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
    margin-bottom: 8px;
}

.widget_body_noticia { 
    display: flex;
    flex-wrap: wrap;/*coloca todos os artigos lado a lado, dependendo da largura determinada para o artigo*/
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .noticia_botoes {
    display: flex;
    font-size: 13px;
    color: white;    
}
article .noticia_botoes_data {   
    background-color: #2b4c99;
    width: fit-content;
    padding: 10px;    
    margin-right: 3px;
}
article .noticia_botoes_coment {  
    background-color: #39aae1;
    width: fit-content;
    padding: 10px;
}
article .noticia_foto {
    margin: 30px 0 0 0;
}
article .noticia_foto img {
    width: 100%;
    height: 50%; /*auto*/   
}
article .noticia_titulo {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
article .noticia_resumo {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 17px;
}

.widget_body_dep {
    display: flex;
    justify-content:space-between;
}
.widget_body_dep_box {
    height: 155px;
    width: 155px;
    justify-content: space-between;
    background-color: #39aae1;
    margin: 0 0 20px 0;
}
.widget_body_marcacao {
    font-size: 13px;
    margin: 10px 0 0px;
    text-align: justify;
}
.widget_body_line {
    width: 100%;
    height: 1px;
    background-color: #bbc8cf;
    margin-top: 10px;
}
.widget_body_marcacao img {
    display: inline-block;
    vertical-align:middle;
    padding-right: 5px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.flexcoluna {
    flex-direction: column; /*Lembrar que, por default, container é flex-direction:row*/
}

footer .coluna1_rodape,
footer .coluna2_rodape,
footer .coluna3_rodape {
    flex: 1;
    padding: 20px 20px 10px 20px;
    color: white;
}

footer .coluna1_rodape {
    background-color: #39aae1;
}
footer .coluna2_rodape {
    background-color: #0079c7;
}
footer .coluna3_rodape {
    background-color: #2b4c99;  
}
.colunas_rodape a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.colunas_rodape {
    display: flex;
    height: 100px;  
    color: white;
}

.rodape_titulo1 {
    font-size: 20px;
}

.rodape_texto {
    font-size: 13px;
    padding-bottom: 15px;
    color: rgb(212, 211, 211);
}


.colunas2_rodape {
    display: flex;
    color: white;
    font-size: 15px;
}
.coluna4_rodape,
.coluna5_rodape,
.coluna6_rodape {
    flex: 1;
    padding-right: 10px ;
}

footer .widget_titulo_texto {
    color: white;
}

.rodape_titulo2 {
    font-size: 20px;
    margin-top: 20px;
}

.rodape_barra {
    background-color: #0079c7;
    width: 50px;
    height: 2px;
}
.rodape_texto {
    line-height: 17px;
    font-size: 13px;
    padding: 20px 0;
}

.clinicas1,
.clinicas2,
.clinicas3 {
    display:flex;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 13px;
    color: rgb(212, 211, 211);
}
.clinica3_email a {    
    color:#fff;
}

.socials {
display: flex;
padding: 20px 0px;
}

.socialicon {
    padding: 30px 10px;
}

.copy {
    border-top: #363636 solid 0.3px;
    height: 40px;
    line-height: 40px;
    color: #686868;
    font-size: 12px;
    margin-top: 30px;
}
